.sidebar {
  width: 280px;
  margin-left: -280px;
  transition: margin-left 0.25s;
  position: fixed;
  top: 0;
}
.sidebar .sidebar-link {
  color: #212529;
  display: block;
  text-decoration: none;
  padding: 1rem;
}
.sidebar .sidebar-link:hover {
  background-color: antiquewhite;
}

.main {
  width: 100%;
}

.sidebar-toggle .sidebar {
  margin-left: 0;
}
.sidebar-toggle .main {
  margin-left: 280px;
}

@media (min-width: 992px) {
  .sidebar {
    margin-left: 0;
    width: 280px;
  }
  .main {
    width: calc(100vw - 280px);
    margin-left: 280px;
    transition: margin-left 0.25s;
  }
  .sidebar-toggle .sidebar {
    margin-left: -280px;
  }
  .sidebar-toggle .main {
    width: 100%;
    margin-left: 0;
  }
}
.rotated {
  display: inline-block;
  transform: rotate(180deg);
}